@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;1,8..144,100&family=Satisfy&family=Vidaloka&display=swap');


body{
    min-width: 100vh;
    background-color: #FFF0C9;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vidaloka";
    font-size: 1.4rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    padding-bottom: 5px;
}


header{
    background-color: #ffc0cb;
    display: flex;
    align-items: end;
    justify-content: space-between;

    padding: 2%;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 100;
}

.logo{
    width: 15%;
}

div{
    display: flex;
}

.top{
    margin-top: 20%;
    box-sizing: border-box;
}

main{
    width: 75%;
    box-sizing: border-box;
    background-color: #FFF0C9;
    
}

p{
    font-family: "Roboto Serif";
    font-size: 1rem;
    margin-left: 1%;
    margin-top: 5%;
}

.sale {
    margin-top: 2%;
    margin-left: 2%;
}

.salediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4.5rem;
    font-family: "Satisfy";
}

section h4{
    font-family: "Satisfy";
    color: #c5a3d5;
}

section h1{
    color: #c5a3d5;
}


nav a{
    color: #333;
}

aside a{
    color: #333;
}

footer a {
    color: #c5a3d5;
}

.principal{
    width: 100%;
}

aside{
    
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    background-color: #c5a3d5;
    font-size: 190%;
}

.redes{
    gap: 1rem;
}

.cafe{
    position: relative;
    display: inline-block;
    text-align: center;
}

.viculo-cafe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.costado{
    
    font-family: "Vidaloka";
    
}

.Contactanos {
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    background-color: #FFF0C9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #c5a3d5;
}

footer{
    background-color: #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vidaloka";
 }

 section[id] {
    scroll-margin-top: 420px;
 }

 div[id] {
    scroll-margin-top: 420px;
 }

 html{
    scroll-behavior: smooth;
 }


 @media (max-width:1024px){
    aside{
        font-size: 150%;
    }
 }

 @media (max-width:768px){
    aside{
        font-size: 130%;
    }

    section[id] {
        scroll-margin-top: 5px;
    }
    
    div[id] {
        scroll-margin-top: 5px;
    }
 }

 /*DarkMode*/
 .switch{
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    background-color: #132b41;
}

.switch i{
    font-size: 1rem;
    color: #fdc21c;
}

.menu-options li:last-child::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
}

.menu-options li:last-child.active::before {
    right: 0;
    left: unset;
    border: solid thin #fff;
}

body.active header {
    background-color: #816981;
}

body.active aside {
    background-color: #725f7b;
}

body.active main {
    background-color: #333;
}


body.active main p {
    color: #fff;
}

body.active main h1 {
    color: pink;
}

body.active section {
    background-color: #333;
}

body.active section p {
    color: #fff;
}

body.active section h3 {
    color: pink;
}

body.active a {
    color: #000;
}

body.active .ubi{
    color: pink;
}